<form name="todo" method="post" action="{{ path('todo_edit', {'id': todo.id}) }}">
    <div id="todo">
        <div class="form-group"><label for="todo_title" class="required">Titre</label><input type="text" id="todo_title"
                                                                                             name="todo[title]"
                                                                                             required="required"
                                                                                             maxlength="255"
                                                                                             class="form-control"
                                                                                             value="{{ todo.title }}">
        </div>
        <div class="form-group"><label for="todo_detail" class="required">Détail</label><textarea id="todo_detail"
                                                                                                  name="todo[detail]"
                                                                                                  placeholder="Cliquez sur modifier pour détailler votre todo !"
                                                                                                  class="form-control">{{ todo.detail }}</textarea>
        </div>

        <div class="form-group">
            <label for="todo_end_at">Date de fin</label>
            <input type="date" id="todo_end_at" name="todo[end_at]" value="{% if todo.endAt is not null %}{{todo.endAt|date("Y-m-d")}}{% endif %}">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" id="todo_is_completed" name="todo[is_completed]" class="form-check-input"
                       value="1">
                <label class="form-check-label" for="todo_is_completed">Is completed</label></div>
        </div>

    </div>
    <button type="submit" class="btn btn-outline-primary">Valider</button>
</form>